.test {
    width: 250px;
    background-color: gainsboro;
}
#list {
    background-color: antiquewhite;   
    width: 500px; 
}
#ym {
    display: flex;
    justify-content: center;
}
td.o-current {
    background-color: red;
}
td.selected {
    color: blue;
}
th, td {
    border: solid 1px gray;
}
table {
    margin-left: 23px;
}
table thead tr {
    background-color: aquamarine;
}
.date {
    display: inline;
    padding-right: 34px;
}
.add-area {
    margin-bottom: 20px;
}
